{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Falade Ayodeji Mayowa">
    <meta name="description" content="Find Fun Places To Hangout in Lagos">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/semantic-ui/dist/semantic.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="ui secondary pointing menu">

      {{ nav_link('index', 'Gidi-Spots') }}
      {{ nav_link('directories', 'Directories') }}
      {{ nav_link('listings', 'Listings') }}

      <a class="ui item padding-bottom-sm {% if request.path == '/add' %} active {% endif %}" href="{{ url_for('add') }}">
        <div class="ui icon button" data-content="Add users to your feed">
          <i class="add icon"></i>
        </div>
      </a>

      <div class="right menu">
        {% if current_user.is_authenticated %}
          {{ nav_link('dashboard', 'Dashboard') }}
          {{ nav_link('logout', 'Logout') }}
          <a class="ui item"></a>
        {% else %}
          {{ nav_link('login', 'Login') }}
          {{ nav_link('signup', 'Signup') }}
        {% endif %}
      </div>
    </div>
    <div class="">
      {% block content %}
      {% endblock %}
    </div>

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <script type="text/javascript" src="{{ url_for('static', filename='libs/semantic-ui/dist/semantic.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
