{% extends 'base.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
<div class="ui very padded segment margin-top-lg full-height">

<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">

      {{ nav_link('auth.dashboard', 'Your Listings') }}
      {{ nav_link('main.index', 'Account Settings') }}
      {{ nav_link('main.index', 'Notifications') }}
      {{ nav_link('main.index', 'Extra link 1') }}
      {{ nav_link('main.index', 'Extra link 2') }}
      {{ nav_link('main.index', 'Extra link 3') }}

    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui content">
      {% if listings %}
        {% include 'partials/dashboard_listings_table.html' %}
      {% else %}
      <div class="ui text container">
        <h2>
          You are yet to add any listings.. Click here to get started.
        </h2>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>

{% endblock %}
