{% extends 'base.html' %}

{% block title %}
Welcome To Gidi-Spots
{% endblock %}


{% block content %}
  <div class="ui vertical well-padded masthead center aligned segment margin-fix">
    <h2 class="ui header">Welcome to Gidi-Spots</h2>
    <h5></h5>Looking for a place to have a nice time in Lagos??</h5></h5>
    <h5></h5>Search through our repository of awesome places in Gidi.</h5></h5>
    <h5></h5>
      <a href="{{ url_for('add') }}">Add new listing</a>
    </h5></h5>
  </div>

  {% if new_listings %}
<div class="listings-container">
  <div class="ui container">
    <div class="trending">
      <div class="ui center aligned grid vertical-padding">
        <h2 class="header">Trending Listings</h2>
      </div>
      <div class="ui three cards">

        {% for listing in new_listings %}
        <div class="card">
          <div class="extra">
            <h4 class="ui header">
              {{ listing.name }}
            </h4>
            <p>
              {{ listing.description | truncate(90, killwords=True) }}
            </p>
            <p>
              <small>
                Added: {{ moment(listing.created_at).fromNow() }}
              </small>
            </p>
            <a href="#" class="ui link">View Listing</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="recent">
      <div class="ui center aligned grid vertical-padding">
        <h2 class="header">Recent Listings</h2>
      </div>
      <div class="ui three cards">

        {% for listing in new_listings %}
        <div class="card">
          <div class="extra">
            <h4 class="ui header">
              {{ listing.name }}
            </h4>
            <p>
              {{ listing.description | truncate(90, killwords=True) }}
            </p>
            <p>
              <small>
                Added: {{ moment(listing.created_at).fromNow() }}
              </small>
            </p>
            <a href="#" class="ui link">View Listing</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="ui container">
    <br><br><br><br>
    <div class="ui teal message">There are currently no listings on this application.</div>
  </div>
{% endif %}

{% endblock %}
